
*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.help{
    background-color: #201848;
}

.help a{
    text-decoration: none;
    color: white;
}

.help .right{
    margin-left: auto;
    margin-right: 15vw;
}

.navbar{
    background-color: #281e5a;
    color: white;
}

.navbar .logo{
    width: 15vw;
    padding: 5%;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 0 1vw;
}

.navbar .searchArea{
    margin-left: auto;
}

.icon-padding{
    padding: 2vh 2vw;
}

.searchArea input{
    margin: 1vh 1vw;
    padding-left: 2vw;
    height: 5vh;
    width: 30vw;
    border: white;
    border-radius: 5px;
}

.input-wrapper {
    display:inline-block;
    position: relative
}
.input-wrapper:after {
    color: black;
    font-family: 'FontAwesome';
    content: '\f002';
    position: absolute;
    top: 1vw;
    right: 3vw;
}



.pad-left-right{
    padding-left: 10vw;
    padding-right: 10vw;
}

.d-flex{
    display: flex;
}

.flex-col{
    flex-direction: col;
}

.flex-row{
    flex-direction: row;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-right{
    margin-left: auto;
}

.justify-evenly{
    justify-content: space-evenly;
}